<div class="jumbotron">
   <p><h1>Happy Mother's Day, Mom!</h1></p>
   <p>You're a rockstar everyday, but today we all let you know it.</p>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
    <li data-target="#myCarousel" data-slide-to="10"></li>
    <li data-target="#myCarousel" data-slide-to="11"></li>
    <li data-target="#myCarousel" data-slide-to="12"></li>
    <li data-target="#myCarousel" data-slide-to="13"></li>
    <li data-target="#myCarousel" data-slide-to="14"></li>
    <li data-target="#myCarousel" data-slide-to="15"></li>
    <li data-target="#myCarousel" data-slide-to="16"></li>
    <li data-target="#myCarousel" data-slide-to="17"></li>
    <li data-target="#myCarousel" data-slide-to="18"></li>
    <li data-target="#myCarousel" data-slide-to="19"></li>
    <li data-target="#myCarousel" data-slide-to="20"></li>
    <li data-target="#myCarousel" data-slide-to="21"></li>
    <li data-target="#myCarousel" data-slide-to="22"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("m4.png") %>
    </div>

    <div class="item">
      <%= image_tag("m1.png") %>
    </div>

    <div class="item">
      <%= image_tag("m2.png") %>
    </div>

    <div class="item">
      <%= image_tag("m3.png") %>
    </div>

    <div class="item">
      <%= image_tag("m5.png") %>
    </div>

    <div class="item">
      <%= image_tag("m22.png") %>
    </div>

    <div class="item">
      <%= image_tag("m6.png") %>
    </div>

    <div class="item">
      <%= image_tag("m7.png") %>
    </div>

    <div class="item">
      <%= image_tag("m8.png") %>
    </div>

    <div class="item">
      <%= image_tag("m9.png") %>
    </div>

    <div class="item">
      <%= image_tag("m10.png") %>
    </div>

    <div class="item">
      <%= image_tag("m11.png") %>
    </div>

    <div class="item">
      <%= image_tag("m12.png") %>
    </div>

    <div class="item">
      <%= image_tag("m13.png") %>
    </div>

    <div class="item">
      <%= image_tag("m14.png") %>
    </div>

    <div class="item">
      <%= image_tag("m15.png") %>
    </div>

    <div class="item">
      <%= image_tag("m16.png") %>
    </div>

    <div class="item">
      <%= image_tag("m17.png") %>
    </div>

    <div class="item">
      <%= image_tag("m18.png") %>
    </div>

    <div class="item">
      <%= image_tag("m19.png") %>
    </div>

    <div class="item">
      <%= image_tag("m20.png") %>
    </div>

    <div class="item">
      <%= image_tag("m21.png") %>
    </div>

  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
